{block content}

<table class="table table-striped">
	<thead>
		<tr>
			<th>SUKL</th>
			<th>Názov</th>
			<th>Cena</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{foreach $items as $item}
		<tr>
			<td>{$item->ref("medicine")->id_sukl}</td>
			<td>{$item->ref("medicine")->name}</td>
			<td>{$item->ref("medicine")->price} Czk</td>
			<td>
				<a class="btn btn-default" n:href="this, deleteItem => $item->medicine">Odobrať</a>
			</td>
		</tr>
		{/foreach}
		<tr>
			<td>Súčet</td>
			<td></td>
			<td>{$items->sum("medicine.price * count")} Czk</td>
			<td></td>
		</tr>
	</tbody>
</table>

<a n:href="Order:newOrder">Prejsť k objednávke</a>

{/block}