{block content}

	<table class="table">
		<thead>
		  <tr>
		  	<th>ID</th>
		    <th>Zákazník</th>
		    <th>Email</th>
		    <th></th>
		  </tr>
		</thead>
	    <tbody>
	    {foreach $users as $u}
	    	{if $u->role != 'mainAdmin' && $u->role != 'admin'}
			<tr>
				<td>{$u->id}</td>
				<td><a n:href="DisplayOrders:default, userID => $u->id, userName => $u->username" data-toggle="tooltip" title="Zobrazit objednavky">{$u->username}</a></td>
				<td>{$u->email}</td>
				<td>				
					<a class="btn btn-default" n:href="this, deleteUser => $u->id">Vymazať zákazníka</a>
				</td>
			</tr>
			{/if}
	    {/foreach}
	    </tbody>
	</table>
   
    <div class="text-center">
        <ul class="pagination">
                {for $i = 1; $i <= $paginator->getLastPage(); $i++}
                    {if $i == 1 || $i == $paginator->getLastPage() || $i == $paginator->getPage() || $i == ($paginator->getPage() - 1) || $i == ($paginator->getPage() - 2) || $i == ($paginator->getPage() - 3) || $i == ($paginator->getPage() + 1) || $i == ($paginator->getPage() + 2) || $i == ($paginator->getPage() + 3) || $i == ($paginator->getlastPage() / 2)}
                        
                        {if $i == $paginator->getPage()}
                            <li class="active" style="color: red"><a style="color: #000;"  n:href="this, page => $i">{$i}</a></li>
                        {else}
                            <li><a style="color: #000;"  n:href="this, page => $i">{$i}</a></li>
                        {/if}

                    {/if}
                {/for}
        </ul>
    </div>

{/block}