{block content}

	<table class="table">
		<thead>
		  <tr>
		  	<th>ID objednavky</th>
		    <th>Datum</th>
		    <th>Stav</th>
		  </tr>
		</thead>
	    <tbody>
	    {foreach $orders as $o}
			<tr>
				<td><a  n:href="OrderContent:default, orderID => $o->id" data-toggle="tooltip" title="Zobrazit obsah ojednavky" style="color: black">{$o->id}</a></td>
				<td>{$o->date}</td>
				<td>
					{if !$o->handeled}				
						<p>Caka na spracovanie</p>
					{else}
						<p>Odoslana</p>
					{/if}
				</td>
			</tr>
	    {/foreach}
	    </tbody>
	</table>

{/block}