{block content}

	<table class="table">
		<thead>
		  <tr>
		  	<th>ID objednávky</th>
		    <th>Dátum</th>
		    <th>Stav</th>
		  </tr>
		</thead>
	    <tbody>
	    {foreach $orders as $o}
			<tr>
				<td><a  n:href="OrderContent:default, orderID => $o->id" data-toggle="tooltip" title="Zobraziť obsah ojednávky" style="color: black">{$o->id}</a></td>
				<td>{$o->date}</td>
				<td>
					{if !$o->handeled}				
						<p>Čaká na spracovanie</p>
					{elseif $o->disallowed}
						<p style="color: red">Zamietnutá (neplatný alebo chýbajúci predpis!)</p>
					{else}
						<p>Odoslaná</p>
					{/if}
				</td>
			</tr>
	    {/foreach}
	    </tbody>
	</table>

{/block}