{block content}
<div align="center">
	<p>Fakulta informačných technológií</p>
	<p>Vysoké učení technické v Brně</p>
	<p>Božetěchova 1/2</p>
	<p>612 66 Brno</p>
	<p></p>
	<p>e-mail: info@lekaren.foo</p>
</div>
{/block}