{block content}
<div align="center">
	<h4>Sme internetová Lekáreň</h4>
	<h4>poskytujúca široký sortiment liečív či rozličných chemikálií.</h4>
	<p>V prípade akýchkoľvek otázok nás neváhajte kontaktovať!</p>
</div>
{/block}