{block content}
<h1 n:block=title style="color: #626262; text-shadow: 3px 2px #d2d2e0;">Prihlásenie</h1>

{* OR
{control signInForm}
*}


{import '../components/form.latte'}
{include form signInForm}


<p><a n:href="up" style="color: #626262; text-shadow: 1px 1px #d2d2e0;"><br>Nemáte účet? Registrujte sa.</a></p>
