{block content}
<h1 n:block=title style="color: #626262; text-shadow: 3px 2px #d2d2e0;">Boli ste odhlásený</h1>

<p><a n:href="in" style="color: #626262; text-shadow: 1px 1px #d2d2e0;">Prihlásiť sa do iného účtu.</a></p>
