{block content}

	<h2 style="color: black">ID objednávky: {$orderID}</h2>

	<table class="table">
		<thead>
		  <tr>
		  	<th>ID tovaru</th>
		    <th>Názov</th>
		    <th>Dodávateľ</th>
		    <th>Cena</th>
		    <th>Počet</th>
		  </tr>
		</thead>
	    <tbody>
	    {foreach $goods as $g}
			<tr>
				<td><p style="color: black">{$g->id_sukl}</p></td>
				{if $g->prescription}
					<td><p style="color: black">{$g->name}:<font style="color: red"> Potrebný predpis</font></p></td>
				{else}
					<td><p style="color: black">{$g->name}</p></td>
				{/if}
				<td><p style="color: black">{$g->producer}</p></td>
				<td><p style="color: black">{$g->price} Czk</p></td>
				<td><p style="color: black">{$g->count}</p></td>
			</tr>
	    {/foreach}
    	<tr>
    		<td>Súčet</td>
    		<td></td>
    		<td></td>
    		<td>{$sum} Czk</td>
    		<td></td>
    	</tr>
	    </tbody>
	</table>

	<div align="right"><button class="btn btn-default" onclick="printOrder()">Vytlačiť faktúru</button></div>

	{if $img}
	<center>
		<img src="http://127.0.0.1/lekaren/www/{$img}">
	</center>
	{/if}

{/block}