{block content}

	<h2 style="color: black">ID objednavky:</h2>

	<table class="table">
		<thead>
		  <tr>
		  	<th>ID tovaru</th>
		    <th>Nazov</th>
		    <th>Dodavatel</th>
		    <th>Cena</th>
		    <th>Pocet</th>
		  </tr>
		</thead>
	    <tbody>
	    {foreach $goods as $g}
			<tr>
				<td><p style="color: black">{$g->id_sukl}</p></td>
				<td><p style="color: black">{$g->name}</p></td>
				<td><p style="color: black">{$g->producer}</p></td>
				<td><p style="color: black">{$g->price}</p></td>
				<td><p style="color: black">{$g->count}</p></td>
			</tr>
	    {/foreach}
	    </tbody>
	</table>

{/block}